/* Your css code for the services section goes here. */
@media screen {
/* general styling */
.services {
  text-align: center;
  padding: 64px 32px;
  background-color: #FFFFFF;
  font-family: "Poppins", sans-serif;
}

.services h1 {
  font-size: 55px;
  margin-bottom: 10px;
  color: #2B2769;
  font-weight: 400;
}

.underline {
  width: 80px;
  height: 6px;
  background: #2B2769;
  margin: 0 auto 56px auto;
}
/* container for service cards */
.service-container {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

/* individual card */
.service-card {
  background: #f8f9fc;
  width: 300px;
  padding: 0px;
  transform: translateY(50px);
  opacity: 0;
}

.service-card.animate {
  transform: translateY(0);
  opacity: 1;
  transition: all 1s ease;
}

.service-card:hover{
  transform: scale(1.05);
  box-shadow: 0px 2px 8px rgb(158, 158, 158);
}

/* image styling */
.service-card img {
  width: 100%;
  margin: 0;
}

.text-container{
  padding: 24px;
  text-align: left;
}
.service-card h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #aa9cbb;
}

.service-card p {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
}
}

@media (max-width: 768px) {
  .service-card{
    opacity: 1;
    transform: none;
  }
  
}

@media (max-width: 650px) {
  .services h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
}