@media screen {
  body{
    background-color: #F8F9FC;
  }
.Client1{
 text-align: center;
 color: #2B2769;
 text-transform: uppercase;
 letter-spacing: 3px;
 font-family:Arial, Helvetica, sans-serif;
}
.Client1::after{
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background-color:#2B2769 ;
    margin: 10px auto ;
}
  .Client-row img{
  width: 200px;         
  height: auto;         
  object-fit: contain;
}
.Client-row{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
}

